/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
header nav ul li {
    margin: 0px 0px;
    text-align: right;
}
header nav ul li a{
	font-size: 18px;
}
.banner-section .carousel-item{
	height: 70vh;
}
.banner-section .banner-content {
    margin-top: 25px;
}
.banner-section .banner-content h1 {
    font-size: 27px;
}
.banner-section .banner-content h2 {
    padding-right: 0px;
}
.banner-section .banner-content p {
    padding-right: 0px;
}
/*header end*/
	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
header nav ul li {
    margin: 0px 0px;
    text-align: right;
}
.banner-section .carousel-item{
	height: 70vh;
}
.banner-section .banner-content {
    margin-top: 25px;
}
.banner-section .banner-content h2 {
    padding-right: 0px;
}
.banner-section .banner-content p {
    padding-right: 0px;
}
/*header end*/
	
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
header nav ul li {
    margin: 0px 0px;
    text-align: right;
}
.banner-section .carousel-item{
	height: 70vh;
}
.banner-section .banner-content {
    margin-top: 25px;
}
.banner-section .banner-content h2 {
    padding-right: 0px;
}
.banner-section .banner-content p {
    padding-right: 0px;
}
/*header end*/

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

	
}